*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    padding: 1rem;
    background-color: rgb(233, 233, 233);
    margin: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: .5rem;
}

#text{
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
}

#reply{
    color: rgb(33, 45, 221);
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.commentDetail{
    margin:0rem 5rem;
}

#CommentInp{
    padding: .5rem;
    border: 1px solid gray;
    border-radius: .4rem;
}

#submitBtn{
    padding:.5rem;
    background-color: lightseagreen;
    color: white;
    border: 0;  
    border-radius: .3rem;
}

.allComments:not(:first-child){
margin-left: 4rem;
}