* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(53, 53, 53);
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  font-size: 2rem;
  margin: 1.5rem;
}

.stars {
  margin-bottom: 1rem;
}

.star {
  font-size: 3.2rem;
  margin: 0.3rem;
  color: gray;
  cursor: pointer;
}

.fillStar {
  color: rgb(245, 208, 0);
}

.ratingCount {
  margin: 1px;
}
